# -------------------------------
# VISUAL STUDIO / .NET BUILD
# -------------------------------

.vs/
*.user
*.suo
*.sln.docstates

bin/
obj/
out/
TestResults/
Generated_Code/

# -------------------------------
# NUGET / PAQUETES / NODE
# -------------------------------

*.nupkg
*.snupkg
packages/
node_modules/
package-lock.json

# -------------------------------
# LOGS / BDs / TEMPORALES
# -------------------------------

*.log
*.vsidx
*.db
*.sqlite
*.bak
*.tmp

# -------------------------------
# CONFIG SENSIBLE (NO SUBIR)
# -------------------------------

appsettings.json
appsettings.Development.json
appsettings.Local.json
appsettings.*.json
.env
*.secret.json

# -------------------------------
# DOCKER
# -------------------------------

**/Dockerfile
**/docker-compose*.yml

# -------------------------------
# GIT / IDE / OTROS
# -------------------------------

*.orig
*.rej
*.swn
*.swp
.idea/
.vscode/

# -------------------------------
# WINDOWS / OTROS
# -------------------------------

Thumbs.db
desktop.ini
ehthumbs.db

# -------------------------------
# ARCHIVOS EXTRAS PARA FRONTEND
# -------------------------------

wwwroot/lib/