# Visual Studio
.vs/
*.user
*.suo

# Build results
bin/
obj/
out/
TestResults/

# NuGet
*.nupkg
# NPM / Node (si usás Angular)
node_modules/
package-lock.json

# Logs / DB / temporales
*.log
*.vsidx
*.db
*.sqlite

# Config locales que no deberían ir al repo
appsettings.Development.json
appsettings.Local.json
.env
*.secret.json

# Docker
**/Dockerfile
**/docker-compose*.yml

# Git personal files
*.orig
*.rej
*.swn
*.swp

# IDEs
.idea/
.vscode/

# Others
Thumbs.db
desktop.ini